/* light - Qt-compatible styles only */
QTextBrowser {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

b,
strong {
  font-weight: 600;
}

dfn {
  font-style: italic;
}

h1 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 32px;
  border-bottom: 1px solid #d1d9e0;
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 24px;
  border-bottom: 1px solid #d1d9e0;
}

h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

h4 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
}

h5 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
}

h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  color: #59636e;
}

mark {
  background-color: #fff8c5;
  color: #1f2328;
}

small {
  font-size: 14px;
}

sub {
  vertical-align: sub;
  font-size: 12px;
}

sup {
  vertical-align: super;
  font-size: 12px;
}

p {
  margin-top: 0px;
  margin-bottom: 16px;
}

blockquote {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 16px;
  color: #59636e;
  border-left: 4px solid #d1d9e0;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 32px;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  margin-top: 4px;
}

dd {
  margin-left: 0px;
}

tt,
code,
samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  white-space: pre;
}

hr {
  background-color: #d1d9e0;
  border: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
}

kbd {
  padding: 4px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 11px;
  line-height: 10px;
  color: #1f2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: 1px solid #d1d9e0;
  border-bottom-color: #d1d9e0;
}

table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

td,
th {
  padding: 6px 13px;
  border: 1px solid #d1d9e0;
}

table tr {
  background-color: #ffffff;
  border-top: 1px solid #d1d9e0;
}

table th {
  font-weight: 600;
}

dl {
  padding: 0px;
}

dl dt {
  padding: 0px;
  margin-top: 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding-left: 16px;
  margin-bottom: 16px;
}

code,
tt {
  padding: 3px 6px;
  margin: 0px;
  font-size: 14px;
  white-space: pre;
  background-color: #f0f0f0;
}

pre code {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  white-space: pre;
  background-color: transparent;
  border: 0px;
}

pre {
  padding: 16px;
  font-size: 14px;
  line-height: 1.45;
  color: #1f2328;
  background-color: #f6f8fa;
}

/* Task list items - removed unsupported attribute selector */

/* Markdown alerts */
div.markdown-alert {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  color: inherit;
  border-left: 4px solid #d1d9e0;
}

div.markdown-alert-note {
  border-left-color: #0969da;
}

div.markdown-alert-important {
  border-left-color: #8250df;
}

div.markdown-alert-warning {
  border-left-color: #9a6700;
}

div.markdown-alert-tip {
  border-left-color: #1a7f37;
}

div.markdown-alert-caution {
  border-left-color: #cf222e;
}

/* Syntax highlighting colors (simplified for Qt compatibility) */
span.pl-c {
  color: #59636e;
}

span.pl-c1 {
  color: #0550ae;
}

span.pl-v {
  color: #0550ae;
}

span.pl-e {
  color: #6639ba;
}

span.pl-en {
  color: #6639ba;
}

span.pl-smi {
  color: #1f2328;
}

span.pl-s1 {
  color: #1f2328;
}

span.pl-ent {
  color: #0550ae;
}

span.pl-k {
  color: #cf222e;
}

span.pl-s {
  color: #0a3069;
}

span.pl-pds {
  color: #0a3069;
}

span.pl-pse {
  color: #0a3069;
}

span.pl-sr {
  color: #0a3069;
}

span.pl-cce {
  color: #0a3069;
}

span.pl-sre {
  color: #0a3069;
}

span.pl-sra {
  color: #0a3069;
}

span.pl-smw {
  color: #953800;
}

span.pl-bu {
  color: #82071e;
}

span.pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

span.pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

span.pl-ml {
  color: #3b2300;
}

span.pl-mh {
  font-weight: bold;
  color: #0550ae;
}

span.pl-ms {
  font-weight: bold;
  color: #0550ae;
}

span.pl-mi {
  font-style: italic;
  color: #1f2328;
}

span.pl-mb {
  font-weight: bold;
  color: #1f2328;
}

span.pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

span.pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

span.pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

span.pl-mi2 {
  color: #d1d9e0;
  background-color: #0550ae;
}

span.pl-mdr {
  font-weight: bold;
  color: #8250df;
}

span.pl-ba {
  color: #59636e;
}

span.pl-sg {
  color: #818b98;
}

span.pl-corl {
  text-decoration: underline;
  color: #0a3069;
}