/* dark - Qt-compatible styles only */
QTextBrowser {
    color: #c9d1d9;
    background-color: rgb(28, 28, 28);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    color: #c9d1d9;
    background-color: rgb(28, 28, 28);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    background-color: transparent;
    color: #58a6ff;
    text-decoration: none;
}

b,
strong {
    font-weight: 600;
}

dfn {
    font-style: italic;
}

h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 32px;
    border-bottom: 1px solid rgb(48, 54, 61);
}

h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 24px;
    border-bottom: 1px solid rgb(48, 54, 61);
}

h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
}

h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
}

h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
}

h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
    color: #8b949e;
}

mark {
    background-color: #3f3105;
    color: #c9d1d9;
}

small {
    font-size: 14px;
}

sub {
    vertical-align: sub;
    font-size: 12px;
}

sup {
    vertical-align: super;
    font-size: 12px;
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
}

blockquote {
    margin-top: 0px;
    margin-bottom: 16px;
    padding-left: 16px;
    color: #8b949e;
    border-left: 4px solid #30363d;
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 32px;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    margin-top: 4px;
}

dd {
    margin-left: 0px;
}

tt,
code,
samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

pre {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    white-space: pre;
}

hr {
    background-color: #30363d;
    border: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
}

kbd {
    padding: 4px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 11px;
    line-height: 10px;
    color: #c9d1d9;
    vertical-align: middle;
    background-color: rgb(52, 52, 52);
    border: 1px solid #30363d;
    border-bottom-color: #30363d;
}

table {
    border-collapse: collapse;
    margin-bottom: 16px;
}

td,
th {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

table tr {
    background-color: rgb(28, 28, 28);
    border-top: 1px solid #30363d;
}

table th {
    font-weight: 600;
}

dl {
    padding: 0px;
}

dl dt {
    padding: 0px;
    margin-top: 16px;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}

dl dd {
    padding-left: 16px;
    margin-bottom: 16px;
}

code,
tt {
    padding: 3px 6px;
    margin: 0px;
    font-size: 14px;
    white-space: pre;
    background-color: rgb(52, 52, 52);
}

pre code {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    white-space: pre;
    background-color: transparent;
    border: 0px;
}

pre {
    padding: 16px;
    font-size: 14px;
    line-height: 1.45;
    color: #c9d1d9;
    background-color: rgb(52, 52, 52);
}

/* Markdown alerts */
div.markdown-alert {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    color: inherit;
    border-left: 4px solid #30363d;
}

div.markdown-alert-note {
    border-left-color: #58a6ff;
}

div.markdown-alert-important {
    border-left-color: #a371f7;
}

div.markdown-alert-warning {
    border-left-color: #d29922;
}

div.markdown-alert-tip {
    border-left-color: #3fb950;
}

div.markdown-alert-caution {
    border-left-color: #f85149;
}